/* tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* layer base */
@layer baes {
    /* add fonts */
    @font-face {
        font-family: 'vazir regular';
        src: url('/public/fonts/Vazir.ttf') format('truetype');
        src: url('/public/fonts/Vazir.eot') format('eot');
        src: url('/public/fonts/Vazir.woff') format('woff');
        src: url('/public/fonts/Vazir.woff2') format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: 'vazir medium';
        src: url('/public/fonts/Vazir-Medium.ttf') format('truetype');
        src: url('/public/fonts/Vazir-Medium.eot') format('eot');
        src: url('/public/fonts/Vazir-Medium.woff') format('woff');
        src: url('/public/fonts/Vazir-Medium.woff2') format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: 'vazir bold';
        src: url('/public/fonts/Vazir-Bold.ttf') format('truetype');
        src: url('/public/fonts/Vazir-Bold.eot') format('eot');
        src: url('/public/fonts/Vazir-Bold.woff') format('woff');
        src: url('/public/fonts/Vazir-Bold.woff2') format('woff2');
        font-display: swap;
    }
    /* reset style */
    html {
        @apply box-border
    }
    *, *::before, *::after {
        @apply box-border m-0 p-0 border-none outline-none
    }
    body {
        @apply leading-normal font-vazir-regular bg-gray-900 select-none
    }
    /* scrollbar */
    ::-webkit-scrollbar {
        @apply w-2
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-700
    }
    ::-webkit-scrollbar-track {
        @apply bg-gray-500
    }
    .chat::-webkit-scrollbar {
        @apply w-0
    }
}

/* layre utilities */
@layer utilities {
    .container {
        @apply max-w-[1200px]
    }
    .word {
        word-spacing: -1.5px;
    }
}